.header {
    background-color: #ffffff;
    display: flex;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.controls {
    display: flex;
    width: 140px;
    justify-content: space-around;
    padding: 10px;
}

.controls__record {
    position: relative;
}

.controls__record::before {
    position: absolute;
    top: 8px;
    left: 8px;
}

.controls__play {
    position: relative;
}

.controls__play::before {
    position: absolute;
    top: 8px;
    left: 10px;  
}

.record {
    background: transparent;
    border: #000000 2px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.record::before {
    content: "";
    border: #929292 10px solid;
    border-radius: 50%;
}

.record_active::before {
    border: #ff0000 10px solid;
}

.play {
    background-color: transparent;
    border: #000000 2px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.play::before {
    content: "";
    border: transparent 10px solid;
    border-left: #009900 20px solid;
}

.play_active::before {
    border-left: #00ff00 20px solid;
}